main {
  box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
  padding: 10px;
  border-radius: 2px;
  border-top: 6px solid #40a4f4;
  width: 80vw;
  max-width: 600px;
  margin: 10vh auto;
}

label {
  font-weight: 700;
}

fieldset label {
  font-weight: 500;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

form > * {
  margin: 5px;
  padding: 5px;
}

input[type="submit"] {
  background-color: #40a4f4;
  color: white;
  border-radius: 7px;
  border: 10px solid #40a4f4;
  font-weight: 600;
}

/* input[type="text"] {
  background-color: #bada55;
} */

/* Can style when email invalid */
/* #email:invalid {
  font-size: 3em;
  color: red;
} */

@media (min-width: 1000px) {
  #name::placeholder {
    text-align: center;
  }
  #email::placeholder {
    text-align: center;
  }
  #number::placeholder {
    text-align: center;
  }
}
